@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap);
body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #d5d5d5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.select-auth-type {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.select-auth-type .type-selector {
  display: flex;
  gap: 10px;
  padding: 30px;
  justify-content: center;
}

.p-divider-solid.p-divider-horizontal:before {
  border-top-style: solid !important;
}

.ql-align-right {
  text-align: right;
}

.ql-align-center {
  text-align: center;
}

.ql-align-left {
  text-align: left;
}

.ql-editor img {
  max-width: 100%;
}
